<h1>Workout Date: <%=@workout.date%></h1>

<h3>Notes: <%=@workout.notes%></h3>

<table border="3" cellpadding="5" style="width:30%">
  <tr>
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th> 
  </tr>
<% @workout.workout_exercises.each do |exercise| %>
  <tr>
    <td align="center"><strong><%= Exercise.find(exercise.exercise_id).name%></strong></td>
    <td align="center"><%= exercise.sets%></td>
    <td align="center"><%= exercise.reps%></td> 
  </tr>
  <tr>
  <%end%>
</table><br>

<a href="/workouts/<%=@workout.id%>/edit">Click here to Edit this workout.</a>