<% if flash.has?(:message) %>
  <font size="+2"><%= flash[:message] %></font>
<% end %>

<% if logged_in? && @workout.user == current_user %>
<h1>Workout Date: <%=@workout.date%></h1>

<div id="first"><table border="3" cellpadding="5" style="width:20em">
  <caption><font size="+2"><%=@workout.name%></font></caption>
  <tr>
    <th>Exercises Completed</th>
    <th>Bodypart</th>
  </tr>
<% @workout.workout_exercises.each do |exercise| %>
  <tr>
    <td align="center"><%= Exercise.find(exercise.exercise_id).name%></td>
    <td align="center"><%= Exercise.find(exercise.exercise_id).bodypart%></td>
  </tr>
  <tr>
  <%end%>
</table><br></br>

<font size="+2">Notes:</font>
<ul><%=@workout.notes%></ul><br></br><br></br><br></br>

<a href="/workouts/<%=@workout.id%>/edit"><input id="edit_button" type="submit" name="Edit" value="Edit"></input></a>

<form method="POST" action="/workouts/<%=@workout.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input id="delete_button" type="submit" name="Delete" value="Delete"></input>
</form>
</div>
<%else%>
<h1>Sorry, you must be logged in to view this workout!</h1>
<%end%>
