<% if flash.has?(:message) %>
  <font size="+2" class="center"><%= flash[:message] %></font>
<% end %>

<% if logged_in? && @workout.user == current_user %>
<h1 class="center">Workout Date: <%=@workout.date%></h1>
<p style="border-bottom:1px solid #212121;padding-bottom:12px;"></p>

  <div class="mid_box"><table border="3" cellpadding="5" style="width:70%" align="center">
        <caption><font size="+2"><%=@workout.name%></font></caption>
        <tr>
          <th>Exercises Completed</th>
          <th>Bodypart</th>
        </tr>
      <% @workout.workout_exercises.each do |exercise| %>
        <tr>
          <td align="center"><%= Exercise.find(exercise.exercise_id).name%></td>
          <td align="center"><%= Exercise.find(exercise.exercise_id).bodypart%></td>
        </tr>
        <tr>
        <%end%>
      </table><br></br>

      <font size="+2">Notes:</font>
      <ul><%=@workout.notes%></ul>
      <p style="border-bottom:1px solid #212121;padding-bottom:12px;"></p><br></br>

      <a href="/workouts/<%=@workout.id%>/edit"><input id="edit_button" type="submit" name="Edit Workout" value="Edit Workout"></input></a>

      <form method="POST" action="/workouts/<%=@workout.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input id="delete_button" onclick="return confirm('Are you sure you want to delete this workout?');" type="submit" name="Delete Workout" value="Delete Workout"></input>
      </form>
  </div>

<%else%>
<h1>Sorry, you must be logged in to view this workout!</h1>
<%end%>
